h1{
    color: black;
    font-size:50px;
    text-align: center;
  }
  #foto{
    width:40%;
    margin:auto;
    display:block;
  }
  h2{
    color:black;
    font-size:30px;
    text-align:center;  
  }
  h3{
    color:purple;
    font-size:20px;
    margin-left:150px;
  }
  h4{
    color:black;
    font-size:20x;
    margin-left:200px;
  }